<div class="table-container">
    <table mat-table [dataSource]="(showLimit ? (tracks | slice:0:showLimit) : tracks)" matSort>
        <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
            <td mat-cell *matCellDef="let track; let i = index">{{i + 1}}</td>
        </ng-container>

        <ng-container matColumnDef="track">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>TRACK</th>
            <td mat-cell *matCellDef="let track">{{track.title}}</td>
        </ng-container>

        <ng-container matColumnDef="artist">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ARTIST</th>
            <td mat-cell *matCellDef="let track">{{track.artist.name}}</td>
        </ng-container>

        <ng-container matColumnDef="album">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ALBUM </th>
            <td mat-cell *matCellDef="let track">{{track.album.title}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let track; columns: displayedColumns;"></tr>
    </table>
</div>