@import '../../../styles.scss';

:host {
    width: 100%;
}

table {
    width: 100%;
}

.mat-column {
    padding: 0 !important;
}

th.mat-column-number, td.mat-column-number {
    text-align: center;
}

$columns: (
    "number": 5%,
    "track": 40%,
    "artist": 20%,
    "album": 30%
);

@each $heading, $width in $columns {
    .mat-column-#{$heading} {
        width: $width;
        padding: 0 !important;
    }
}