@import '../../../styles.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mat-tab-group {
    width: 100%;
}

$tabs: (
    "all",
    "Artists",
    "Tracks",
    "Albums"
);

@each $tabName in $tabs {
    .#{$tabName}-tab-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

.all-tab-container > * {
    width: 100%;
    margin: 2% 0;

    @include screen-mobile {
        margin: 5% 0;
    }
}

.top-result {
    border-bottom: 1px solid $medium;
    padding: 1% 0;
}