@import '../../../styles.scss';

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

.album-card {
    width: calc((100% / 5) - 48px); // ((Parent Width / Number per row) - padding)
}