<div class="container">
    <div class="artist-profile">
        <div class="artist-picture">
            <img src="https://via.placeholder.com/250" alt="Picture of artist"/>
        </div>
        <div class="artist-info">
            <h1>Artist Name</h1>
            <h5>Number of fans</h5> 
        </div>
    </div>
    <div class="artist-content">
        <mat-tab-group>
            <mat-tab label="Tracks">
                <app-tracks></app-tracks>
            </mat-tab>
            <mat-tab label="Albums">Albums</mat-tab>
          </mat-tab-group>
    </div>
</div>