@import '../../../styles.scss';

.container {
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.artist-profile {
    display: flex;
    height: 35%;
    align-items: center;
    margin: 2% 0;
}

.artist-picture {
    margin-right: 1%;
    height: 100%;
}

.artist-picture img {
    display: inline-block;
    border-radius: 50%;
    width: auto;
    height: 100%;
}

.artist-info h1 {
    margin: 0;
    padding: 0;
}

.artist-content {
    display: flex;
    justify-content: center;
}

.mat-tab-group {
    width: 100%;
}