@import '../../../styles.scss';

:host {
    width: 100%;
}

.container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 50px;
    padding: 20px 0;

    @include screen-mobile {
        flex-direction: column;
        gap: 0;
        row-gap: 20px;
    }
}

.artist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc((100% / 5) - 8px); // ((Parent Width / Number per row) - padding)

    @include screen-mobile {
        width: 100%;
    }
}

.artist-container:only-child {
    width: 250px;
    @include screen-mobile {
        width: 100%;
    }
}

.artist-container h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
}

.artist-container > * {
    text-align: center;
}

#artist-picture {
    border-radius: 50%;
    display: inline-block;
    width: 90%;
    height: auto;

    @include screen-mobile {
        width: 50%;
        height: auto;
    }
}

#artist-picture, #artist-name {
    cursor: pointer;
}

#artist-name:hover {
    text-decoration: underline;
}

    