@import '../../../styles.scss';

:host {
    width: 100%;
}

.container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.artist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 350px;
}

.artist-container h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.artist-container > * {
    width: 90%;
    text-align: center;
}

.artist-container img {
    border-radius: 50%;
    display: inline-block;
    height: auto;
}