@import '../../../styles.scss';

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.navbar {
    height: 64px;
    border-bottom: 1px solid $medium;
}

.content {
    display: flex;
    justify-content: center;
}