@import './colors.scss';

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

h1 { 
    font-size: 28px;
    font-weight: 500;
}

h2 { 
    font-size: 22px;
    font-weight: 500;
}

h4, h5, h6 {
    padding: 0;
    margin: 0;
}