@import './colors.scss';


@mixin screen-mobile {
    @media only screen and (max-width: 576px) {
        @content;
    }
}

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;

    @include screen-mobile {
        font-size: 12px;
    }
}

h1 { 
    font-size: 28px;
    font-weight: 500;
    padding: 0;
    margin: 0;

    @include screen-mobile {
        font-size: 22px;
    }
}

h2 { 
    font-size: 22px;
    font-weight: 500;
}

h4, h5, h6 {
    padding: 0;
    margin: 0;
}
